body {
    margin: 10px;
    background-color:ivory;
}


/***************** Style the header******************* */
/* Create two equal columns that floats next to each other */
.HeaderColumnLeft {

    background-image: url('../Images/HotBeansLogo.PNG');
    background-repeat: no-repeat;
    float: left;
    width: 40%;
    height:22vh;

}


/* Create two equal columns that floats next to each other */
.HeaderColumnRight {
    overflow: auto;
    background-color:antiquewhite;
    float: right;
    height: 20vh;
    width: 60%;
}


.HeaderTitle {
        padding-top:20px;
        text-align:center;
        font-family: 'MS Reference Sans Serif';
        font-style: italic;
        font-size: 4vh;
    }

.HeaderText {
    padding-top: 10px;
    text-align: center;
    font-family: 'MS Reference Sans Serif';
    font-style: italic;
    font-size: 2vh;
}


/***************** Style the nav bar******************* */

/* Clear floats after the columns */
.HeaderRow:after {
    content: "";
    display: table;
    clear: both;
    background-color: #f1f1f1;
}

/* The navbar container */
.topnav
    {
    overflow:hidden;
    background-color: #808080;
}

    /* Navbar links */
    .topnav a {
        float: left;
        display: normal;
        color: #f2f2f2;
        text-align: center;
        padding: 2vh 6vh;
        text-decoration:none;
        font-weight:bold;
        font-size:2vh;
        width: 18vh;
    }

        /* Links - change color on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

